// Variables
$red500: #5A0B13;
$red400: #920B19;
$red300: #D13141;
$red200: #E9727E;
$red100: #FFC6CC;

$purple500: #471652;
$purple400: #6E367B;
$purple300: #AE45C6;
$purple200: #D398E1;
$purple100: #E8C8EF;

$pink500: #561240;
$pink400: #A40070;
$pink300: #E53DAF;
$pink200: #F38DD3;
$pink100: #F3C1E3;

$yellow500: #6E4B0E;
$yellow400: #C4810B;
$yellow300: #FFD200;
$yellow200: #FFE774;
$yellow100: #FFF3BB;

$gray500: #4D575B;
$gray400: #97A1A5;
$gray300: #BAC6CC;
$gray200: #E4EBEF;
$gray100: #F0F5F7;

// Random CSS

::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.bottomAnim {
  border: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2851A6 url("https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/13239226_10154232545414048_8868543039140575608_n.jpg") left repeat-x;
  background-size: auto;
  background-position: bottom;
  z-index: 1000;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

.title {
    padding: 0 20px;
    background: #32373a;
    position: relative;
    height: 50px;
}

h1 {
    color: #fff;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    text-transform: capitalize;
}

#content {
    font-size:20px;
    padding: 20px;
    zoom: 1;
}

/*#body{
    margin: 0 15px 0 15px;
}*/

p.footer{
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}

#container{
    margin: 10px;
    border: 1px solid #D0D0D0;
    -webkit-box-shadow: 0 0 8px #D0D0D0;
}

/* Form Styles */
form label{
    display: block;
    margin-bottom: 5px;
}
form input[type=text]{
    border: 1px solid #aaa;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 20px;
    outline: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
form input[type=submit]{
    background: #198ad1;
    color: #fff;
    display: inline-block;
    padding: 0 20px;
    font-size: 16px;
    line-height: 2.6em;
    font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 400;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-transform: capitalize;
    border: 0;
    cursor: pointer;
    text-align: center;
}
