// Variables
$white: #FFF;
$black: #1F323A;

$red500: #5A0B13;
$red400: #920B19;
$red300: #D13141;
$red200: #E9727E;
$red100: #FFC6CC;

$purple500: #471652;
$purple400: #6E367B;
$purple300: #AE45C6;
$purple200: #D398E1;
$purple100: #E8C8EF;

$pink500: #561240;
$pink400: #A40070;
$pink300: #E53DAF;
$pink200: #F38DD3;
$pink100: #F3C1E3;

$green300: #8BC53F;

$yellow500: #6E4B0E;
$yellow400: #B09000;
$yellow300: #FFD200;
$yellow200: #FFE774;
$yellow100: #FFF3BB;

$gray500: #726E69;
$gray400: #9D978F;
$gray300: #D6D1CC;
$gray200: #EDEAE6;
$gray100: #FDF7F1;

$font-size-100: 16px;
$font-size-200: $font-size-100*1.25;
$font-size-300: $font-size-200*1.25;
$font-size-400: $font-size-300*1.25;
$font-size-500: $font-size-400*1.25;

$screen-sm: 402px;
$screen-md: 768px;
$screen-lg: 960px;
$screen-xl: 1200px;

// SASS

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background: linear-gradient(135deg, $red300 0%,$purple400 100%);
    height: 100%;
    min-height: 100vh;
    color: $black;
}

.welcome-content-body {
    span {
        color: $gray400;
    }
}

img, video {
    max-width: 100%;
}

.container {
    background-color: $white;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0px 0px 16px 0px ($black,.12), 0px 16px 16px 0px ($black,.24);
    lost-center: 768px;
    margin-top: 24px;
    margin-bottom: 24px;
    form label {
        display: block;
        font-weight: 700;
        font-size: $font-size-100;
        margin-bottom: 8px;
    }
    form {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    input, textarea {
      -webkit-border-radius: 0;
    }

    .welcome-content-body input {
        border-radius: 5px;
        -webkit-appearance: none;
    }

    .content-hero {
        font-size: $font-size-300;
        display: block;
        background-color: $gray100;
        color: $gray500;
        padding: 16px;

    }

    form input[type=text] {
        width: 100%;
        display: block;
        border: 1px solid $gray300;
        box-shadow: inset 0 1px 2px rgba($gray500,.1);
        box-sizing: border-box;
        padding: 10px;
        height: 46px;
        max-width: 100%;
        margin-bottom: 20px;
        font-size: $font-size-100;
        outline: 0;
        &:active, &:focus {
            transition: border .3s ease;
            border: 1px solid $purple400;
        }
        @media (min-width: $screen-sm) {
            max-width: $screen-sm;
        }
   }

    button {
        height: 46px;
        border-radius: 5px;
        border: none;
        font-weight: 700;
        font-size: $font-size-100;
        padding: 0px 22px;
        cursor: pointer;
        color: $gray500;
        background-color: $gray200;
        &:hover {
            transition: background-color .2s ease;
            background-color: $gray100;
        }
        &:active {
            background-color: $gray300;
        }
   }

    .yellow-button {
        background-color: $yellow300;
        border-radius: 5px;
        color: $yellow500;
        &:hover {
            background-color: $yellow200;
        }
        &:active {
            background-color: $yellow400;
        }

   }

    form input[type=submit] {
        height: 46px;
        color: $black;
        font-size: $font-size-100;
        font-weight: 700;
        border: none;
        padding: 0px 22px;
        cursor: pointer;
        &:hover {
            transition: background-color .2s ease;
        }
    }
}

p, span, li {
    font-size: $font-size-100;
    font-weight: 400;
    line-height: 1.5;
}

a {
    color: $gray400;
    font-weight: 400;
    &:hover {
        color: $purple400;
    }
}

li {
    margin: 4px auto;
}

::selection {
    background-color: $yellow300;
    color: $yellow500;
}

h1 {
    margin-top: 36px;
    font-size: $font-size-400;
    color: $purple400;
}

h2 {font-size: $font-size-300}
h3 {font-size: $font-size-200}
h4, h5, h6 {font-size: $font-size-100}

// Checkboxes and shit

.control {
    display: flex !important;
    align-items: center;
}

.control span {
    strong {
        font-weight: 700;
        color: $black;
    }
    color: $gray400;
    display: block;
}

.control--checkbox {
    background-color: $gray200;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0px ($black,.12), 0px 2px 2px 0px ($black,.24);
    padding: 16px;
    cursor: pointer;
    &:hover {
        background-color: $gray300;
    }
}

.control input {
    lost-column: 1/3;
    @media (min-width: $screen-sm) {
        lost-column: 1/8;
    }
}

.control .content {
    lost-column: 2/3;
    @media (min-width: $screen-sm) {
        lost-column: 7/8;
    }
}

.control--checkbox + label[type="checkbox"]:checked {
    background-color: $green300;
}

.button-input-fix {
   -webkit-appearance: none;
   -webkit-border-radius: 0;
}

form {
    display: block;
}

.logo-block {
    display: block;
    min-height: 60px;
    margin-bottom: 10px;
    img {
        margin-right: 16px;
        margin-bottom: 8px;
    }
}

span {
    margin-bottom: 4px;
}
