body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background: -webkit-linear-gradient(315deg, #D13141 0%, #6E367B 100%);
  background: linear-gradient(135deg, #D13141 0%, #6E367B 100%);
  height: 100%;
  font-color: #1F323A; }

.content-body span {
  color: #9D978F; }

img {
  max-width: 100%; }

.container {
  background-color: #FFF;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0px 0px 16px 0px #1F323A, 0.12, 0px 16px 16px 0px #1F323A, 0.24;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px; }

.container:before {
  content: '';
  display: table; }

.container:after {
  content: '';
  display: table;
  clear: both; }
  .container form label {
    display: block;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 8px; }
  .container form {
    margin-top: 24px;
    margin-bottom: 24px; }
  .container input, .container textarea {
    -webkit-border-radius: 0; }
  .container .content-body input {
    border-radius: 5px; }
  .container .content-hero {
    font-size: 25px;
    display: block;
    background-color: #FDF7F1;
    color: #726E69;
    padding: 16px; }
  .container form input[type=text] {
    width: 100%;
    display: block;
    border: 1px solid #D6D1CC;
    box-shadow: inset 0 1px 2px rgba(114, 110, 105, 0.1);
    box-sizing: border-box;
    padding: 10px;
    height: 46px;
    max-width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    outline: 0; }
    .container form input[type=text]:active, .container form input[type=text]:focus {
      -webkit-transition: border .3s ease;
      transition: border .3s ease;
      border: 1px solid #6E367B; }
    @media (min-width: 402px) {
      .container form input[type=text] {
        max-width: 402px; } }
  .container button {
    height: 46px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    padding: 0px 22px;
    cursor: pointer;
    color: #726E69;
    background-color: #EDEAE6; }
    .container button:hover {
      -webkit-transition: background-color .2s ease;
      transition: background-color .2s ease;
      background-color: #FDF7F1; }
    .container button:active {
      background-color: #D6D1CC; }
  .container .yellow-button {
    background-color: #FFD200;
    border-radius: 5px;
    color: #6E4B0E; }
    .container .yellow-button:hover {
      background-color: #FFE774; }
    .container .yellow-button:active {
      background-color: #B09000; }
  .container form input[type=submit] {
    height: 46px;
    color: #1F323A;
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 0px 22px;
    cursor: pointer; }
    .container form input[type=submit]:hover {
      -webkit-transition: background-color .2s ease;
      transition: background-color .2s ease; }

p, span, li {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; }

a {
  color: #9D978F;
  font-weight: 400; }
  a:hover {
    color: #6E367B; }

li {
  margin: 4px auto; }

::-moz-selection {
  background-color: #FFD200;
  color: #6E4B0E; }

::selection {
  background-color: #FFD200;
  color: #6E4B0E; }

h1 {
  margin-top: 36px;
  font-size: 31.25px;
  color: #6E367B; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 20px; }

h4, h5, h6 {
  font-size: 16px; }

.control {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.control span {
  display: block; }
  .control span strong {
    font-weight: 700; }

.control--checkbox {
  background-color: #EDEAE6;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px #1F323A, 0.12, 0px 2px 2px 0px #1F323A, 0.24;
  padding: 16px;
  cursor: pointer; }
  .control--checkbox:hover {
    background-color: #D6D1CC; }

.control input {
  width: calc(99.9% * 1/12 - (30px - 30px * 1/12)); }

.control input:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none; }

.control input:last-child {
  margin-right: 0; }

.control input:nth-child(12n) {
  margin-right: 0;
  float: right; }

.control input:nth-child(12n + 1) {
  clear: both; }

.control .content {
  width: calc(99.9% * 11/12 - (30px - 30px * 11/12)); }

.control .content:nth-child(1n) {
  float: left;
  margin-right: 30px;
  clear: none; }

.control .content:last-child {
  margin-right: 0; }

.control .content:nth-child(12n) {
  margin-right: 0;
  float: right; }

.control .content:nth-child(12n + 1) {
  clear: both; }

.control--checkbox + label[type="checkbox"]:checked {
  background-color: #8BC53F; }
