<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Changi Confirm</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
    </head>
    <body>
        <div id="container" class="container">
        	 <center><img src="../static/changi-logo.png"></center><br><br>

            <div class="title content-title">
                <h1>Have some downtime?</h1>
            </div>
            <div id="content" class="content-body">
                  
                    <a href="/checkbox">
					  <button>YES!</button>
					</a>
					<br><br>

					
					<a href="/checkbox">
					  <button>No, take me straight to the flight.</button>
					</a>
            </div>
        </div>
    </body>
</html>





