<!DOCTYPE html>
<html>

    <head>
        <title>Changi Confirm</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
    </head>
    <body>

    	  <div class="bottomAnim">

	        <div id="container">
	            <div class="title">
	                <h1>Time Spender</h1>
	            </div>

	            <div class="tc_div_36881" style="width:650px;height:162.50px;border:1px solid #C0C0C0;"><a title="Time until boarding" href="http://www.tickcounter.com/countdown/1474786800000/america-los_angeles/dhms/FFFFFF3B5998000000FF0000/Time_until_boarding">Time until boarding</a><a title="Countdown" href="http://www.tickcounter.com/">Countdown</a></div><script type="text/javascript">(function(){ var s=document.createElement('script');s.src="http://www.tickcounter.com/loader.js";s.async='async';s.onload=function() { tc_widget_loader('tc_div_36881', 'Countdown', 650, ['1474786800000', 'america-los_angeles', 'dhms', 'FFFFFF3B5998000000FF0000', '650', 'C0C0C01', 'Time until boarding']);};s.onreadystatechange=s.onload;var head=document.getElementsByTagName('head')[0];head.appendChild(s);}());</script>		 <div id="content">

	            <form action="demo_form.asp" method="get">
				  <input type="checkbox" name="food" value="food">Food and Drink<br>
				  <input type="checkbox" name="coffee" value="restroom" checked>Restroom/Toilet<br>
				  <input type="checkbox" name="alcohol" value="shopping" checked>Shopping<br>
				<input type="checkbox" name="bathroom" value="lounge" checked>Lounge and Rest<br>


				  <input type="submit" value="Submit">
				</form>



	        </div>
	    </div>
	    </div>
    </body>
</html>

