{% extends "base.html" %}

{% block head %}
<script type="text/javascript">(function(){ var s=document.createElement('script');s.src="http://www.tickcounter.com/loader.js";s.async='async';s.onload=function() { tc_widget_loader('tc_div_36881', 'Countdown', 650, ['1474786800000', 'america-los_angeles', 'dhms', 'FFFFFF3B5998000000FF0000', '650', 'C0C0C01', 'Time until boarding']);};s.onreadystatechange=s.onload;var head=document.getElementsByTagName('head')[0];head.appendChild(s);}());</script>
{% endblock %}

{% block content %}
<div class="title content-title">
  <h1>Welcome</h1>
</div>

<div class="tc_div_36881" style="width:650px;height:162.50px;border:1px solid #C0C0C0;"><a title="Time until boarding" href="http://www.tickcounter.com/countdown/1474786800000/america-los_angeles/dhms/FFFFFF3B5998000000FF0000/Time_until_boarding">Time until boarding</a><a title="Countdown" href="http://www.tickcounter.com/">Countdown</a></div>

<form action="demo_form.asp" method="get">
<input type="checkbox" name="food" value="food">Food and Drink<br>
<input type="checkbox" name="coffee" value="restroom" checked>Restroom/Toilet<br>
<input type="checkbox" name="alcohol" value="shopping" checked>Shopping<br>
<input type="checkbox" name="bathroom" value="lounge" checked>Lounge and Rest<br>
</form>

<a href="/foodlist" >
	<button>Next</button>
</a>
{% endblock %}

