{% extends "base.html" %}

{% block content %}

<h1>IndoorAtlas Demonstration</h1>

<p>A real-time geomagnetic indoor positioning system.  We utilize the airport’s network of sensors to measure <strong>current queue times at each interval: check-in, immigration, and security</strong>.</p>

<video controls>
  <source src="../static/IndoorAtlasDemo.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

{% include 'partials/download-changi-app.html'  %}

<a href="/">
  <button>Return to Homepage</button>
</a>

{% endblock %}
