{% extends "base.html" %}

{% block content %}
{% include 'partials/flight-information.html'  %}

<h2>Food and Drink</h2>
<form action="demo_form.asp" method="get" class="control-group">
  <label class="control control--checkbox">
    <input type="checkbox" id="f01" />
    <div class="content">
    <div class="logo-block">
      <img src="../static/ippudo.png" height="40" align="left">
      <span><strong>Ippudo Express</strong></span>
      <span>Japanese</span>
    </div>
    <span>1 min to destination</span>
    <span>12 min for your food to be ready</span>
    <span><strong>13 min minimum</strong></span>
     </div>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox">
    <input type="checkbox" id="f02" />
    <div class="content">
      <div class="logo-block">
        <img src="../static/taihing.png" height="50" align="left">
        <span><strong>Tai Hing</strong></span>
        <span>Chinese</span>
      </div>
      <span>1 min to destination</span>
      <span>16 min for your food to be ready</span>
      <span><strong>17 min minimum</strong></span>
    </div>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox">
    <input type="checkbox" id="f03" />
    <div class="content">
      <div class="logo-block">
        <img src="../static/olearys.png" height="50" align="left">
        <span><strong>O'Leary's Sports Bar and Grill</strong></span>
        <span>Irish Pub</span>
      </div>
      <span>2 min to destination</span>
      <span>21 min for your food to be ready</span>
    <span><strong>23 min minimum</strong></span>
    </div>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox">
    <input type="checkbox" id="f04" />
    <div class="content">
      <div class="logo-block">
        <img src="../static/coffeebean.png" height="50" align="left">
        <span><strong>The Coffee Bean and Tea Leaf</strong></span>
        <span>Coffee &amp; Tea</span>
      </div>
      <span>2 min to destination</span>
      <span>4 min for your drink to be ready</span>
      <span><strong>6 min minimum</strong></span>
    </div>
    <div class="control__indicator"></div>
  </label>
</form>

<h2>Toilet</h2>
<form action="demo_form.asp" method="get">
  <label class="control control--checkbox">
    <input type="checkbox" id="t01" />
    <div class="content">
      <div class="logo-block">
        <img src="../static/toilet.png" height="50" align="left">
        <span><strong>Toilet</strong></span>
      </div>
      <span>2 min to destination</span>
      <span>1 min wait in line</span>
      <span><strong>3 min minimum</strong></span>
    </div>
    <div class="control__indicator"></div>
  </label>
</form>

<h2>Shopping</h2>
<form action="demo_form.asp" method="get">
  <label class="control control--checkbox">
    <input type="checkbox" id="s01" />
    <div class="content">
      <div class="logo-block">
        <img src="../static/mk.png" height="50" align="left">
        <span><strong>Michael Kors</strong></span>
        <span>Fashion &amp; Accessories</span>
      </div>
      <span>1 min to destination</span>
      <span>1 min wait for checkout</span>
      <span><strong>2 min minimum</strong></span>
    </div>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox">
    <input type="checkbox" id="s02" />
    <div class="content">
      <div class="logo-block">
        <img src="../static/dfs.png" height="50" align="left">
        <span><strong>DFS Wine &amp; Spirits</strong></span>
        <span>Wine, Spirits, &amp; Tobacco</span>
      </div>
      <span>1 min to destination</span>
      <span>1 min wait for checkout</span>
      <span><strong>2 min minimum</strong></span>
    </div>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox">
    <input type="checkbox" id="s03" />
    <div class="content">
      <div class="logo-block">
        <img src="../static/guardian.png" height="50" align="left">
        <span><strong>Guardian Health and Beauty</strong></span>
        <span>Beauty &amp; Wellness</span>
      </div>
      <span>2 min to destination</span>
       <span>1 min wait for checkout</span>
    <span><strong>3 min minimum</strong></span>
    </div>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox">
    <input type="checkbox" id="s04" />
    <div class="content">
      <div class="logo-block">
        <img src="../static/hermes.png" height="50" align="left">
        <span><strong>Hermes</strong></span>
        <span>Fashion &amp; Accessories</span>
      </div>
      <span>2 min to destination</span>
      <span>1 min wait for checkout</span>
      <span><strong>3 min minimum</strong></span>
    </div>
    <div class="control__indicator"></div>
  </label>
</form>

{% include 'partials/download-changi-app.html'  %}

<a href="/foodlistpicked">
  <button class="yellow-button">Next</button>
</a>
{% endblock %}
