{% extends "base.html" %}

{% block content %}
{% include 'partials/flight-information.html'  %}

<h2>Food and Drink</h2>
<form action="demo_form.asp" method="get" class="control-group">
  <label class="control control--checkbox">
    <input type="checkbox" id="f01" />
    <div class="content">
      <span><strong>Ippudo Express</strong></span>
      <span>Japanese</span>
      <span>1 min to destination</span>
    </div>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox">
    <input type="checkbox" id="f02" />
    <div class="content">
      <span><strong>Tai Hing</strong></span>
      <span>Chinese</span>
      <span>1 min to destination</span>
    </div>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox">
    <input type="checkbox" id="f03" />
    <div class="content">
      <span><strong>O'Leary's Sports Bar and Grill</strong></span>
      <span>Irish Pub</span>
      <span>2 min to destination</span>
    </div>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox">
    <input type="checkbox" id="f04" />
    <div class="content">
      <span><strong>The Coffee Bean and Tea Leaf</strong></span>
      <span>Coffee &amp; Tea</span>
      <span>2 min to destination</span>
    </div>
    <div class="control__indicator"></div>
  </label>
</form>

<h2>Toilet</h2>
<form action="demo_form.asp" method="get">
  <label class="control control--checkbox">
    <input type="checkbox" id="t01" />
    <div class="content">
      <span><strong>Toilet</strong></span>
      <span>3 min to destination</span>
    </div>
    <div class="control__indicator"></div>
  </label>
</form>

<h2>Shopping</h2>
<form action="demo_form.asp" method="get">
<label class="control control--checkbox">
    <input type="checkbox" id="s01" />
    <div class="content">
      <span><strong>Michael Kors</strong></span>
      <span>Fashion &amp; Accessories</span>
      <span>1 min to destination</span>
    </div>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox">
    <input type="checkbox" id="s02" />
    <div class="content">
      <span><strong>DFS Wine &amp; Spirits</strong></span>
      <span>Wine, Spirits, &amp; Tobacco</span>
      <span>1 min to destination</span>
    </div>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox">
    <input type="checkbox" id="s03" />
    <div class="content">
      <span><strong>Guardian Health and Beauty</strong></span>
      <span>Beauty &amp; Wellness</span>
      <span>2 min to destination</span>
    </div>
    <div class="control__indicator"></div>
  </label>
  <label class="control control--checkbox">
    <input type="checkbox" id="s04" />
    <div class="content">
      <span><strong>Hermes</strong></span>
      <span>Fashion &amp; Accessories</span>
      <span>2 min to destination</span>
    </div>
    <div class="control__indicator"></div>
  </label>
</form>

{% include 'partials/download-changi-app.html'  %}

<a href="/foodlistpicked">
  <button class="yellow-button">Next</button>
</a>
{% endblock %}
