{% extends "base.html" %}

{% block content %}
{% include 'partials/flight-information.html'  %}

<form action="demo_form.asp" method="get">
  <label class="control control--checkbox">
    <div class="content">
    <div class="logo-block">
      <img src="../static/ippudo.png" height="40" align="left">
      <span><strong>Ippudo Express</strong></span>
      <span>Japanese</span>
    </div>
    <span>1 min to destination</span>
    <span>12 min for your food to be ready</span>
    <span><strong>13 min minimum</strong></span>
     </div>
    <div class="control__indicator"></div>
  </label>
    <label class="control control--checkbox">
      <input type="checkbox" id="t01" checked />
      <div class="content">
            <img src="../static/toilet.png" height="40" align="left">

        <span><strong>Toilet</strong></span>
              <span>2 min to destination</span>
      <span>1 min wait in line</span>
    <span>3 min total</span>
      </div>
      <div class="control__indicator"></div>
    </label>
  <label class="control control--checkbox">
    <input type="checkbox" id="s01" checked />
    <div class="content">
          <img src="../static/mk.png" height="40" align="left">

      <span><strong>Michael Kors</strong></span>
      <span>Fashion &amp; Accessories</span>
            <span>1 min to destination</span>
       <span>1 min wait for checkout</span>
    <span>2 min total</span>
    </div>
    <div class="control__indicator"></div>
  </label>
</form>

<video controls autoplay>
  <source src="../static/movie3.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

{% include 'partials/download-changi-app.html'  %}

<a href="/demo">
  <button class="yellow-button">IndoorAtlas Simulation</button>
</a>

{% endblock %}
