<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Changi Confirm</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
    </head>
    <body>

    	  <div class="bottomAnim">

	        <div class="container">

	        	<center><img src="../static/changi-logo.png"></center><br><br>

	        	You have 1 hour, 36 minutes of leisure time before boarding at Gate 39.<br><br>

	        	Wrong time? Change your flight <a href="/">here</a>.
   	
	        	<h1>Food and Drink</h1>
	            <form action="demo_form.asp" method="get">
				  <input type="checkbox" checked>Ippudo Express<br>
				  <input type="checkbox">Tai Hing<br>
				  <input type="checkbox">O'Leary's Sports Bar and Grill<br>
				<input type="checkbox">The Coffee Bean and Tea Leaf<br>
				</form>

				<h1>Toilet</h1>
	            <form action="demo_form.asp" method="get">
				  <input type="checkbox" checked>Toilet<br>
				</form>

				<h1>Shopping</h1>
	            <form action="demo_form.asp" method="get">
				  <input type="checkbox" checked>Michael Kors<br>
				  	<input type="checkbox">DFS Wine and Spirits<br>
				  <input type="checkbox">Guardian Health and beauty<br>
				  <input type="checkbox">Hermes<br>
				</form>

				<a href="#" style="text-decoration:none;">
                		<font color="#D3D3D3">Download the iChangi app for more options.</font>
           		 </a><br><br>

				<a href="/foodlistpicked" >
                	<button>Next</button>
            	</a>
            				



	        </div>
	    </div>
	    </div>
    </body>
</html>

