{% extends "base.html" %}

{% block content %}

<center><i><font size="6">The Journey Companion to Your Gate</font></i></center>

<div class="title content-title">
    <h1>Welcome</h1>

</div>

<div class="welcome-content-body">
    <span>Welcome to Changi Airport! Tell us about your flight and we'll get you there on time.</span>
    <form method="post" action="{{ url_for('hello') }}">
      <label for="yourname">Name</label>
      <input type="text" name="yourname" value="Joseph Schooling"/><br />
      <label for="youremail">Email Address</label>
      <input type="text" name="youremail" value="jj.schoolj@gmail.com"/><br />
      <label for="yourflightnumber">Flight Number</label>
      <input type="text" name="yourflightnumber" value="UA896" /><br />
      <input type="submit" value="Get my Flight" class="yellow-button button-input-fix" />
    </form>
</div>
{% endblock %}
