<html>
    <head>
        <title>Time Spender</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Time Spender</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('hello') }}">
                  <label for="yourname">Please enter your name:</label>
                  <input type="text" name="yourname" /><br />
                  <label for="youremail">Please enter your email:</label>
                  <input type="text" name="youremail" /><br />

                  <label for="yourflightcode">Please enter your flight code:</label>
                  <input type="text" name="yourflightcode" /><br />

                  <label for="yourairline">Please enter your flight airline:</label>
                  <input type="text" name="yourairline" /><br />

                  <label for="yourflightnumber">Please enter your flight number:</label>
                  <input type="text" name="yourflightnumber" /><br />

                  <input type="submit" />
                </form>
            </div>
        </div>
    </body>
</html>
 