<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Changi Confirm</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
    </head>
    <body>

        <div class="bottomAnim">

            <div id="container">
                <div class="title content-title">
                    <h1>Welcome</h1>
                </div>
                <div id="content" class="content-body">
                    Welcome <strong>{{name}}</strong>!
                    <strong>{{flightcode}}</strong> of  <br>
                    <strong>{{airline}}</strong> leaves<br>
                    <strong>{{terminal}}</strong>in<br>
                    <strong>(2 HOURS, 15 MINUTES)</strong><br>

                    <a href="/checkbox">
                       <button>Submit</button>
                    </a>


                    <script>
                        var settings = {
                          "async": true,
                          "crossDomain": true,
                          "url": "https://flifo-qa.api.aero/flifo/v3/flight/SIN/SQ/5333/a",
                          "method": "GET",
                          "headers": {
                            "x-apikey": "2cfd0827f82ceaccae7882938b4b1627",
                            "cache-control": "no-cache",
                            "postman-token": "7e164a8e-f4f6-07a4-04cd-e40cc085133f"
                          }
                        $.ajax(settings).done(function (response) {
                          console.log(response);
                        });
                    </script>
                </div>
            </div>
        </div>
    </body>
</html>
