<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Changi Confirm</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
    </head>
    <body>
        <div id="container" class="container">
             <center><img src="../static/changi-logo.png"></center><br><br>
    
            <div id="content" class="content-body">
                You have <strong>36 minutes</strong> of leisure time before boarding at <strong>Gate F58</strong>.<br><br>

                Time to pass security at gate: <strong>10 minutes.</strong><br><br>

                <a href="#">
					<button>Download the iChangi app for more options.</button>
				</a>
            </div>
        </div>
    </body>
</html>
